
*{
    padding: 0%;
    margin: 0%;
  
}
:root {
  --background-light: #f9f9f9;
  --text-light: #333;
  --background-dark: #222;
  --text-dark: #fff;
}
/*body.dark-mode {
  background-color: #000; /* Dark mode background */
  /*color: #fff;                   Dark mode text */
/*}*/
body {
    width: 100%;
    font: 0.9em/1.2 Arial,
      Helvetica,
      sans-serif;
      /*background-color: white;
    color: black;*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--background-light);
    color: var(--text-light);
    
    /*transition: background-color 0.3s, color 0.3s*/;
    margin: 0;
    padding: 0;
  }
  header{
    margin-left: -10px;
    background-color: #333;
    padding: 16px 32px;
    margin-top: -10px;
    position: fixed;
    width: 100%; 
  }
  /* Remove default list styling */
.navbar{
  list-style-type: none;
  margin-right: 64px;
  padding: 0;
  padding-right: 5px;
  background-color: #333;
 
}
.navitem{
  float: right;
  margin-top: 8px;
  font-size: larger;
  font-weight: 900;
  font:600 ;
  line-height: 16px;


}
.ankalink:hover{
  border: white 1px solid;
  border-radius: 50px;
}
.ankalink:active{
  background-color: #fff;
  color: #333;
}
/* Style the links inside the list items */
.navitem .ankalink{
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: #fff;
  text-decoration: none;

}
#theme-toggle{
  margin-right: 1em;
  padding: 16px;
}
.name{
  margin: 16px 16px;
  color: #cdf;
  text-decoration: underline;
}
.main{
  padding: 64px;
  scroll-behavior: smooth;
   
}
.row{
  
  padding: 16px 32px;
  
}
.column {
  
  float: left;
  width: 50%;
  padding: 16px 32px;
}/*Project*/



  /* Dark mode styles */
body.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-dark);
}
/* Style the list items */











/* Section*/
/*.{
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 30px;
    padding: 60px;
}*/

 .table{
    
    align-content: center;
    align-items: center;
    
 }
 .skillrow{ 
    
    padding: 100px;
    
}

img:hover{
    cursor: pointer;
   
}
.projectcolum{
    padding: 100px;
    border: #333 solid;
}

.projectheading{
    padding: 2em;
}

  .contentheading{
    padding: 2em;
  }
  


/*.dark-mode {
    background-color: black;
    color: white;
}*/

  
  
   /*Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row {
    display: flex;
  }
  
  
  .dark-mode{
    
    margin: 5px auto;
    float: right;
    
    
  }
  .dark-mode:hover{
    cursor: pointer;

  }
  footer{
    align-items: center;
    background-color: #333;
    width: 100%;
    height: 64px;
    color: #fff;

  }
  footer p{
    text-align: center;
    padding: 32px 16px;
    font-family: 'Courier New', Courier, monospace;
  }
  .button{
    color: #fff;
    background-color: #333;
    float: right;
    padding: 16px 32px;
    margin-right: 32px;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  h1{
    
    padding: 16px 32px;
    color: #fff;
    font-weight: 400;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

  }
  .About{
    background-color: #333;
  }
  .Skills{
    background-color: #222;
  }
  .Projects{
    background-color: #333;

  }
  .Contact{
    background-color: #222;
  }
  .profileimg{
   
    background-color: #222;

    border: 1px grey solid;
  }
  div.column{
    background-color: brown;
    height: 300px;
    

  }
  div.column2{
    padding: 32px 32px;
  }
  li a {
    text-decoration: none;
  }
 



